PROJECT_VERSION=

SERVER_PORT=

POSTGRES_PSW=""
POSTGRES_USER=""
POSTGRES_DB=""
POSTGRES_PORT=""
POSTGRES_HOST=""
POSTGRES_VERSION=""
PROJECT_VERSION=v1
POSTGRES_PGBOUNCER_PORT=
POSTGRES_PGBOUNCER_HOST=

# InfluxDb
INFLUXDB_USERNAME=""
INFLUXDB_PASSWORD=""
INFLUXDB_TOKEN=""
INFLUXDB_INIT_ORG=""
INFLUXDB_INIT_BUCKET=""

SERVER_PORT=3025ON="17"

# Monitoring
POSTGRES_EXPORTER_CONTAINER_NAME=""
POSTGRES_EXPORTER_CONTAINER_PORT="9187"
NODE_EXPORTER_CONTAINER_NAME=""
NODE_EXPORTER_CONTAINER_PORT="9100"
CADVISOR_CONTAINER_NAME=""
CADVISOR_CONTAINER_PORT="8080"
GRAFANA_ADMIN_PASSWORD=""
PROMETHEUS_PORT=""

# Tracing Configuration
JAEGER_HOST=jaeger
OTLP_HTTP_PORT=4318
